md-content
    ul
        li
            a(href="/") Login
        li
            a(href="/presonal") Personal
    .center-form
        form(name="loginForm")
            md-input-container
                label Login
                input(ng-model="login" name="login" placeholder="Login" required="required" md-maxlength="30")
                div(ng-messages="loginForm.login.$error")
                    div(ng-message="required") This is required.
                    div(ng-message="md-maxlength") The name has to be less than 30 characters long.
            md-input-container
                label Email
                input(ng-model="email" name="email" placeholder="Email" required="required")
                div(ng-messages="loginForm.email.$error")
                    div(ng-message="required") This is required.
            md-input-container
                label Password
                input(ng-model="password" name="password" placeholder="Password" type="password" required="required")
                div(ng-messages="loginForm.password.$error")
                    div(ng-message="required") This is required.
            md-input-container
                label Password confirmation
                input(ng-model="password_confirmation" name="password_confirmation" placeholder="Password confirmation" type="password" required="required")
                div(ng-messages="loginForm.password_confirmation.$error")
                    div(ng-message="required") This is required.
            md-button(type="submit") Next