//
   @author: Alexander.Davidenko 
   @date: 9/18/15

md-content
    login-steps-menu(steps="steps")

    .center-form
        md-content
            div Login : {{userData.saved.login}}
            div Email : {{userData.saved.email}}
            div Password : {{userData.saved.password}}
            div Password confirmation : {{userData.saved.password_confirmation}}

            div Name : {{userData.saved.name}}
            div Last name : {{userData.saved.lastName}}
            div Gender : {{gender}}
            div Additional info : {{userData.saved.additionalInfo}}

            div Phone : {{userData.saved.phone}}
            div Country : {{userData.saved.country}}
            div City : {{userData.saved.city}}
            div Address : {{userData.saved.address}}

            div Terms : {{userData.saved.terms}}

        md-button.next-button(type="submit" ng-click="nextStep()") Next