h1 {
  color: tomato;
}

section {
  width: 100%;
}

.center-form {
  width: 300px;
  margin: 0 auto;
}

.next-button {
  float: right;
}

// datepicker fix
form {
  md-datepicker {
    position: relative;
    left: -16px;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
}
